.container{
    display:grid;
    grid-template-rows: repeat(var(--grid-rows),1fr);
    grid-template-columns: repeat(var(--grid-cols),1fr);
    
    height: 690px;
    width:690px;
    border: 0.25em solid black;
    margin: 1% auto;
    
    
   
    
}
.gridPixel{
    transition: .1s;
   border: 0.1px solid grey; 
    
    
    
}

