
body{
    background-image: url(images/slika.jpg);
    background-position: center;

}

header{
  
        padding: 5px;
        text-align: center;
        color: white;
        font-size: 30px;
   
}






.container{
   
    display:grid;
    grid-template-rows: repeat(var(--grid-rows),1fr);
    grid-template-columns: repeat(var(--grid-cols),1fr);
    height: 600px;
    width: 600px;
    border: 0.25em solid rgb(170, 170, 170);
    margin: 1% auto;
    
    
   
    
}
.gridPixel{
    transition: .1s;
   border: 0.1px solid grey; 
    
    
    
}
.button {
    display: flex;
    padding: 10px 9px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

.button:hover {background-color: #6bc702}

.button:active {
  background-color: #171817;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button-container{
    position: absolute;
}

